.admin p{
    font-size: 110%;
    font-weight: 600;
    color: #002ead;
    position: relative;
    left: 250px;
    top: 30px;
}

.admin button{
    position: relative;
    left: 280px;
    bottom: 20px;
}