.history-list{
    min-height: 500px;
}
.history-list h3{
    color: #F4976C;
    margin-bottom: 20px;
    font-weight: 550;
}

.times{
    display: flex;
    background-color: #fff4cd;
    margin-bottom: 20px;
    height: 50px;
    width: 60%;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 10px;
}

.times li{
    margin-right: 320px;
    color: #2A3D82;
    font-weight: 450;
}